---
title: Sponsors
description: Discover the organizations that believe in our mission and is actively supporting us.
ctaText: Do you want **support** our team?
ctaButton: Sponsor Us
ctaLink: /contact/
---
<ul class="staff">
	{% for sponsor in site.sponsors_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=sponsor.image_path %}" alt="{{ sponsor.name }}"/></div>
			<div class="name"><a target="_blank" href="https://twitter.com/{{ sponsor.twitter }}">{{ sponsor.name }}</a></div>
			<div class="position">{{ sponsor.position }}</div>
		</li>
	{% endfor %}
</ul>
