---
title: Sponsors
description: Discover the organizations that believe in our mission and is actively supporting us.
ctaText: Do you want **support** our team?
ctaButton: Sponsor Us
ctaLink: /contact/
---
<ul class="sponsors">
	{% for sponsor in site.sponsors_members %}
		<li>
			<div class="logo">
        <a target="_blank" href="{{ sponsor.website}}"> 
          <img src="{% include relative-src.html src=sponsor.image_path %}" alt="{{ sponsor.name }}"/>
        </a>
      </div>
		</li>
	{% endfor %}
</ul>
