---
title: Our team
description: Out team is a very extensive group of enthusiastic and passionate students from a wide variety of backgrounds. Below you can find the leaders of each of our teams.
ctaText: Do you want **to be part** of our team?
ctaButton: Join Us
ctaLink: /contact/
---

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.css" integrity="sha512-LhZScx/m/WBAAHyiPnM+5hcsmCMjDDOgOqoT9wyIcs/QUPm6YxVNGZjQG5iP8dhWMWQAcUUTE3BkshtrlGbv2Q==" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.js" integrity="sha512-aDa+VOyQu6doCaYbMFcBBZ1z5zro7l/aur7DgYpt7KzNS9bjuQeowEX0JyTTeBTcRd0wwN7dfg5OThSKIWYj3A==" crossorigin="anonymous"></script>
<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image popup-element">
        <img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/>
        <p class="hidden"> {{ person.name }} </p>
        <p class="hidden"> {{ person.image_path }} </p>
        <p class="hidden"> {{ person.blurb }} </p>
      </div>
			<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
<script src='/assets/js/infoOnClick.js'></script>
