---
layout: default
---
{% if page.heading %}
  {% if page.headingImgUrl %}
    <div class="page-heading hero" style="background-image:  url({{ page.headingImgUrl }})">
  {% else %}
    <div class="page-heading hero" style="background-image:  url({{ site.defaultHeaderImg }})">
  {% endif %}
    <h2>{{ page.heading }}</h2>
    <p class="subtext">{{ page.description }}</p>
  </div>
{% elsif page.title %}
  {% if page.headingImgUrl %}
    <div class="page-heading hero" style="background-image:  url({{ page.headingImgUrl }})">
  {% else %}
    <div class="page-heading hero" style="background-image:  url({{ site.defaultHeaderImg }})">
  {% endif %}
      <h2>{{ page.title}}</h2>
      <p class="subtext">{{ page.description }}</p>
    </div>
{% endif %}
<div class="content">
	<section class="page">
		<div class="container {% if page.full_width %}max-container{% endif %}">
			{{ content }}
		</div>
	</section>
</div>
